%tr
  %td.width35.hidden-xs.relative
    .heart-favorite-container{id: "heart-favorite-container-#{student.id}"}
      - if current_tutor_profile.favorite?(student)
        = render 'tutors/students/favorites/remove_favorite', student: student
      - else
        = render 'tutors/students/favorites/create_favorite', student: student
  %td.text-center.width40
    .avatar.d-block
      %img.avatar{ :src => image_path(student.avatar) }/
  %td
    %div
      %a{ href: tutors_student_profile_path(student) }= student.name
  %td.hidden-sm
    .text-muted #{student.city}, #{student.country_name}
  %td.text-right
    %a.btn.btn-sm.btn-link{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Sent Message"}
      %i.icon-envelope