- set_meta_tags title: 'Блог', description: 'Блог онлайн платформи для навчання | Studygo'

%nav.bg-gray-600
  %div{ class: 'max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 p-6' }
    %ol.list-reset.flex.text-white
      %li
        %a.text-white.font-bold{ href: blogs_path } Блог

-# .container-fluid
-# .row
-#   .col-xl-5.offset-xl-2.col-lg-5.offset-lg-2.col-md-8
%div.mb-8{ class: 'max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8' }
  %div{ class: 'flex flex-wrap' }
    - if @blog_posts.any?
      .c-posts-box{ class: 'w-full md:w-3/5' }
        %h1.text-2xl.mb-8 Блог
        - @blog_posts.each do |blog_post|
          = cache [blog_post] do
            .c-post-box
              .c-post-box__image
                = link_to blog_path(blog_post) do
                  = image_tag image_path(blog_post.thumbnail)
              .c-post-box__body
                = link_to blog_path(blog_post) do
                  .c-post-box__title
                    = blog_post.title
                  .c-post-box__actions
                    - if blog_post.tags.any?
                      %ul.c-post-box__actions-tags.mb-2
                        %i.icon-tag.mr-1
                        - blog_post.tags.each do |tag|
                          %li.c-post-box__actions-tag
                            = link_to tag, blogs_path(tag: tag)
                    .c-post-box__actions-author
                      %i.icon-user.mr-1
                      = link_to 'Studygo', blogs_path(author: 'studygo')
                    %time.c-post-box__actions-time
                      %i.icon-clock.mr-1
                      = l blog_post.publish_at, format: ApplicationHelper::SHORT_DATE
                    -# .c-post-box__actions-views
                    -#   %i.icon-eye.mr-1
                    -# = blog_post.impressions_count
        - if @pagy.prev || @pagy.next
          .mb-10= render partial: 'layouts/partials/pagy', locals: { pagy: @pagy }
      .c-tags-box{ class: 'w-full md:w-2/5 mb-10' }
        .c-tags-box__header
          = t('blog.tags')
        %ul.c-tags-box__content
          - BlogPost.tag_counts_on(:tags).order(taggings_count: :desc).first(10).each do |tag|
            %li.c-tag-box
              .c-tag-box__name
                %a{ href: blogs_path(tag: tag.to_s), data: { toggle: 'tooltip' }, title: tag.taggings_count }
                  = tag
    - else
      .card.mt-20.mb-20
        .card-body
          = t('blog.posts_not_found')