<p style="color: green">SHOW HOMEWORK PRESET ID: <%= @homework_preset.id %></p>

<p>subject: <%= @homework_preset.subject.name %></p>
<p>theme: <%= @homework_preset.subject_theme %></p>
<p>description: <%= @homework_preset.description %></p>

<%= link_to 'SHOW', tutors_homework_preset_path(@homework_preset), style: 'color: green' %>
<%= link_to 'EDIT', edit_tutors_homework_preset_path(@homework_preset), style: 'color: green' %>
<%= link_to 'DELETE', tutors_homework_preset_path(@homework_preset), style: 'color: green',
                                                                     data: {
                                                                      turbo_method: :delete,
                                                                      turbo_confirm: 'Are you sure?'
                                                                     } %>
