<div class="px-4 sm:px-6 lg:mx-auto lg:px-8">
  <%= form_with(model: lesson, url: tutors_lesson_attachments_path, method: :post) do |f| %>
    <div class='my-6'>
      <div class='dropzone dz-clickable'
           data-controller="dropzone"
           data-dropzone-dict-remove-file="<%= t('tutors.lessons.attachments.remove') %>"
           data-dropzone-dict-cancel-upload="<%= t('tutors.lessons.attachments.cancel_upload') %>">
        <%= f.file_field :attachments, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
        <div class=" dz-message">
          <h3 class="dropzone-msg-title mb-3 font-semibold text-gray-900 flex flex-wrap justify-center"><%= t('tutors.lessons.attachments.drop_title') %></h3>
          <span class="dropzone-msg-desc text-sm"><%= t('tutors.lessons.attachments.drop_info') %></span>
        </div>
      </div>
    </div>

    <div class="flex justify-end mb-5">
      <%= f.submit t('tutors.lessons.attachments.upload'), class: "cursor-pointer rounded-sm px-3 py-1 bg-blue-700 hover:bg-blue-500 text-white focus:shadow-outline focus:outline-none" %>
      <%= link_to t('tutors.lessons.attachments.cancel'), tutors_lesson_attachments_path, class: "ml-3 rounded-sm px-3 py-1 hover:bg-gray-300 focus:shadow-outline focus:outline-none" %>
    </div>
  <% end %>
</div>

