= render 'tabs'

%div{ class: "max-w-7xl mx-auto px-4 sm:px-6 md:px-8" }
  .card
    .card-header.bline
      = t('tutors.settings.general_header')
      .card-options
        %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
          %i.fe.fe-maximize
    = form_with(model: current_tutor_profile, url: tutors_details_path, method: :put) do |f|
      .card-body.p-10
        = render 'tutors/details/fields/general',f: f
      .card-footer.text-right.px-10
        = f.submit t('tutors.details.save').html_safe, class: 'btn btn-primary'