#left-sidebar.sidebar
  %h5.brand-name
    StudyGo
    %a.menu_option.float-right{:href => "javascript:void(0)"}
      %i.icon-grid.font-16{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Grid & List Toggle"}
  %nav#left-sidebar-nav.sidebar-nav
    %ul.metismenu
      %li.g_heading
      %li{ class: active_if?(controller: 'dashboards') }
        = link_to students_dashboard_path do
          %i.icon-home
          %span= t('students.left_sidebar.dashboard')
      %li{ class: active_if?(controller: 'search_tutors') }
        = link_to students_search_tutors_path do
          %i.icon-home
          %span= t('students.left_sidebar.search_teachers')
      %li{ class: active_if?(controller: 'calendars') }
        = link_to students_calendars_path do
          %i.icon-calendar
          %span= t('students.left_sidebar.calendar')
      %li{ class: active_if?(controller: 'chats') }
        %a{ href: students_chats_path }
          %i.icon-speech
          %span= t('students.left_sidebar.chat')
      %li{ class: active_if?(controller: 'my_tutors') }
        = link_to students_my_tutors_path do
          %i.icon-home
          %span= t('students.left_sidebar.my_teachers')
      %li
        = link_to blogs_path do
          %i.icon-globe
          %span= t('students.left_sidebar.blog')