.row.clearfix
  .col-md-12
    .card.card-profile
      .card-body.text-center
        - if current_student_profile.avatar.attachment
          = image_tag user_avatar(current_student_profile, 80), class: 'rounded-circle card-profile-img'
        %h4.mb-3= current_student_profile.name
        %ul.social-links.list-inline.mb-3.mt-2
          %li.list-inline-item
            %a{ data: { toggle: 'tooltip' }, href: "javascript:void(0)", title: current_student_profile.phone}
              %i.fa.fa-phone
        %p.mb-4
          = raw current_student_profile.bio

.section-body.py-4
  .container-fluid
    .row.clearfix
      .col-12
        %ul#pills-tab.nav.nav-tabs.mb-3{:role => "tablist"}
          %li.nav-item
            %a#pills-calendar-tab.nav-link.active{"aria-controls" => "pills-calendar", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-calendar", :role => "tab"} Calendar
          -# %li.nav-item
          -#   %a#pills-timeline-tab.nav-link{"aria-controls" => "pills-timeline", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-timeline", :role => "tab"} Timeline
          %li.nav-item
            %a#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-profile", :role => "tab"} Profile
      .col-lg-8.col-md-12
        #pills-tabContent.tab-content
          #pills-calendar.tab-pane.fade.show.active{"aria-labelledby" => "pills-calendar-tab", :role => "tabpanel"}
            .card
              .card-header.bline
                %h3.card-title Calendar
                .card-options
                  %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
                    %i.fe.fe-maximize
                  .item-action.dropdown.ml-2
                    %a{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
                      %i.fe.fe-more-vertical
                    .dropdown-menu.dropdown-menu-right
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-eye
                        View Details
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-share-alt
                        Share
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-cloud-download
                        Download
                      .dropdown-divider
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-copy
                        Copy to
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-folder
                        Move to
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-edit
                        Rename
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-trash
                        Delete
              .card-body
                #calendar
          -# #pills-timeline.tab-pane.fade{"aria-labelledby" => "pills-timeline-tab", :role => "tabpanel"}
          -#   .card
          -#     .card-header
          -#       %h3.card-title Activity
          -#       .card-options
          -#         %a.card-options-collapse{"data-toggle" => "card-collapse", :href => "#"}
          -#           %i.fe.fe-chevron-up
          -#         %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
          -#           %i.fe.fe-maximize
          -#         %a.card-options-remove{"data-toggle" => "card-remove", :href => "#"}
          -#           %i.fe.fe-x
          -#         .item-action.dropdown.ml-2
          -#           %a{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
          -#             %i.fe.fe-more-vertical
          -#           .dropdown-menu.dropdown-menu-right
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-eye
          -#               View Details
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-share-alt
          -#               Share
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-cloud-download
          -#               Download
          -#             .dropdown-divider
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-copy
          -#               Copy to
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-folder
          -#               Move to
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-edit
          -#               Rename
          -#             %a.dropdown-item{:href => "javascript:void(0)"}
          -#               %i.dropdown-icon.fa.fa-trash
          -#               Delete
          -#     .card-body
          -#       .timeline_item
          -#         %img.tl_avatar{:alt => "", :src => "../assets/images/xs/avatar1.jpg"}/
          -#         %span
          -#           %a{:href => "javascript:void(0);"} Elisse Joson
          -#           San Francisco, CA
          -#           %small.float-right.text-right 20-April-2019 - Today
          -#         %h6.font600 Hello, 'Im a single div responsive timeline without media Queries!
          -#         .msg
          -#           %p I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web card she has is the Lorem card.
          -#           %a.mr-20.text-muted{:href => "javascript:void(0);"}
          -#             %i.fa.fa-heart.text-pink
          -#             12 Love
          -#           %a.text-muted{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
          -#             %i.fa.fa-comments
          -#             1 Comment
          -#           #collapseExample.collapse.p-4.section-gray
          -#             %form.well
          -#               .form-group
          -#                 %textarea.form-control.no-resize{:placeholder => "Enter here for tweet...", :rows => "2"}
          -#               %button.btn.btn-primary Submit
          -#             %ul.recent_comments.list-unstyled.mt-4.mb-0
          -#               %li
          -#                 .avatar_img
          -#                   %img.rounded.img-fluid{:alt => "", :src => "../assets/images/xs/avatar4.jpg"}/
          -#                 .comment_body
          -#                   %h6
          -#                     Donald Gardner
          -#                     %small.float-right.font-14 Just now
          -#                   %p Lorem ipsum Veniam aliquip culpa laboris minim tempor
          -#       .timeline_item
          -#         %img.tl_avatar{:alt => "", :src => "../assets/images/xs/avatar4.jpg"}/
          -#         %span
          -#           %a{:href => "javascript:void(0);", :title => ""} Dessie Parks
          -#           Oakland, CA
          -#           %small.float-right.text-right 19-April-2019 - Yesterday
          -#         %h6.font600 Oeehhh, that's awesome.. Me too!
          -#         .msg
          -#           %p I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.
          -#           .timeline_img.mb-20
          -#             %img.width100{:alt => "Awesome Image", :src => "../assets/images/gallery/1.jpg"}/
          -#             %img.width100{:alt => "Awesome Image", :src => "../assets/images/gallery/2.jpg"}/
          -#           %a.mr-20.text-muted{:href => "javascript:void(0);"}
          -#             %i.fa.fa-heart.text-pink
          -#             23 Love
          -#           %a.text-muted{"aria-controls" => "collapseExample1", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample1", :role => "button"}
          -#             %i.fa.fa-comments
          -#             2 Comment
          -#           #collapseExample1.collapse.p-4.section-gray
          -#             %form.well
          -#               .form-group
          -#                 %textarea.form-control.no-resize{:placeholder => "Enter here for tweet...", :rows => "2"}
          -#               %button.btn.btn-primary Submit
          -#             %ul.recent_comments.list-unstyled.mt-4.mb-0
          -#               %li
          -#                 .avatar_img
          -#                   %img.rounded.img-fluid{:alt => "", :src => "../assets/images/xs/avatar4.jpg"}/
          -#                 .comment_body
          -#                   %h6
          -#                     Donald Gardner
          -#                     %small.float-right.font-14 Just now
          -#                   %p Lorem ipsum Veniam aliquip culpa laboris minim tempor
          -#                   .timeline_img.mb-20
          -#                     %img.width150{:alt => "Awesome Image", :src => "../assets/images/gallery/7.jpg"}/
          -#                     %img.width150{:alt => "Awesome Image", :src => "../assets/images/gallery/8.jpg"}/
          -#               %li
          -#                 .avatar_img
          -#                   %img.rounded.img-fluid{:alt => "", :src => "../assets/images/xs/avatar3.jpg"}/
          -#                 .comment_body
          -#                   %h5
          -#                     Dessie Parks
          -#                     %small.float-right.font-14 1min ago
          -#                   %p It is a long established fact that a reader will be distracted by the readable content of a page when looking
          -#       .timeline_item
          -#         %img.tl_avatar{:alt => "", :src => "../assets/images/xs/avatar7.jpg"}/
          -#         %span
          -#           %a{:href => "javascript:void(0);", :title => ""} Rochelle Barton
          -#           San Francisco, CA
          -#           %small.float-right.text-right 12-April-2019
          -#         %h6.font600 An Engineer Explains Why You Should Always Order the Larger Pizza
          -#         .msg
          -#           %p I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, is the Lorem card.
          -#           %a.mr-20.text-muted{:href => "javascript:void(0);"}
          -#             %i.fa.fa-heart.text-pink
          -#             7 Love
          -#           %a.text-muted{"aria-controls" => "collapseExample2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample2", :role => "button"}
          -#             %i.fa.fa-comments
          -#             1 Comment
          -#           #collapseExample2.collapse.p-4.section-gray
          -#             %form.well
          -#               .form-group
          -#                 %textarea.form-control.no-resize{:placeholder => "Enter here for tweet...", :rows => "2"}
          -#               %button.btn.btn-primary Submit
          #pills-profile.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel"}
            .card
              .card-header
                %h3.card-title= t('students.details.main_header')
                .card-options
                  %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
                    %i.fe.fe-maximize
                  .item-action.dropdown.ml-2
                    %a{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
                      %i.fe.fe-more-vertical
                    .dropdown-menu.dropdown-menu-right
                      %a.dropdown-item{:href => "javascript:void(0)"}
                        %i.dropdown-icon.fa.fa-eye
                        View Details
              = form_with(model: current_student_profile, url: students_details_path(current_student_profile), method: :put) do |f|
                .card-body
                  = render 'students/details/fields', f: f
                .card-footer.text-right
                  = f.submit t('students.details.submit_button').html_safe, class: 'btn btn-primary'
      .col-lg-4.col-md-12
        .card
          .card-body
            .widgets1
              .icon
                %i.icon-trophy.text-success.font-30
              .details
                %h6.mb-0.font600 Total Earned
                %span.mb-0 $96K +
        .card
          .card-body
            .widgets1
              .icon
                %i.icon-heart.text-warning.font-30
              .details
                %h6.mb-0.font600 Total Likes
                %span.mb-0 6,270
        .card
          .card-body
            .widgets1
              .icon
                %i.icon-handbag.text-danger.font-30
              .details
                %h6.mb-0.font600 Delivered
                %span.mb-0 720 Delivered
        .card
          .card-body
            .widgets1
              .icon
                %i.icon-user.text-primary.font-30
              .details
                %h6.mb-0.font600 Jobs
                %span.mb-0 614