.card
  .card-body
    %h4
      = lesson.subject
      %small
        .badge{ class: lesson_status_background[lesson.status] }
          = lesson.status
      .float-right.text-muted
        = link_to t('students.lessons.show.start_lesson'), class_room_path(lesson), class: 'btn btn-success btn-rounded', 'data-popup' => true
  .row
    .col-lg-6
      .card
        .card-body.widgets1
          .icon
            %i.icon-calendar.text-primary.font-30
          .details
            %span Дата Бронювання
            %h6.number.mb-0
              = l lesson.created_at, format: Lesson::FULL_FORMAT
    .col-lg-6
      .card
        .card-body.widgets1
          .icon
            %i.icon-calendar.text-primary.font-30
          .details
            %span Дата Початку
            %h6.number.mb-0
              = l lesson.start_at, format: Lesson::FULL_FORMAT
.row
  .col-lg-12
    - if lesson.start_at > Time.current
      - time_left = 100.0 * ( Time.current - lesson.created_at ) / ( lesson.start_at - lesson.created_at )
      %p
        До початку уроку залишилося:
        %strong= distance_of_time_in_words(Time.current, lesson.start_at)
      .progress.progress-xs.mb-4
        .progress-bar.bg-primary{ style: "width: #{time_left}%" }
  .col-lg-4
    .card
      .card-body.widgets1
        .icon
          %i.icon-clock.text-primary.font-30
        .details
          %span Тривалість
          %h6.number.mb-0
            = duration_in_hours[lesson.duration.to_i]
  .col-lg-3
    .card
      .card-body.widgets1
        .icon
          %i.icon-wallet.text-primary.font-30
        .details
          %span Ціна
          %h6.number.mb-0
            = humanized_money_with_symbol lesson.price

.col-lg-12
  %ul#pills-tab.nav.nav-tabs.mb-3{:role => "tablist"}
    %li.nav-item
      %a#pills-overview-tab.nav-link.active{"data-toggle" => "pill", :href => "#pills-overview", :role => "tab"}
        = t('students.lessons.show.overview')
    %li.nav-item
      %a#pills-chat-tab.nav-link{"data-toggle" => "pill", :href => "#pills-chat", :role => "tab"}
        = t('students.lessons.show.chat')
    %li.nav-item
      %a#pills-attachments-tab.nav-link{"data-toggle" => "pill", :href => "#pills-attachments", :role => "tab"}
        = t('students.lessons.show.attachments')
.col-lg-12
  #pills-tabContent.tab-content
    #pills-overview.tab-pane.fade.show
      .card
        .card-header.bline
        over
    #pills-chat.tab-pane.fade.show.active
      .card
        .card-header.bline
          = image_tag image_path(lesson.student_profile.avatar), class: 'avatar mr-2'
          %span= lesson.student_profile.name
          %hr
          %small.text-muted
            Останній візит 30хв назад
        .card-body
          = render 'messages/chat', class_room: @class_room, profile: profile, chat_css_class: '-widget'
    #pills-attachments.tab-pane.fade.show
      .card
        .card-header.bline
        attach