.row.clearfix
  .col-lg-12
    .d-md-flex.justify-content-between
      %ul.nav.nav-tabs.b-none
        %li.nav-item
          %a.nav-link{ href: tutors_lessons_path, class: active_if?(action: 'index') }
            = t('tutors.lessons.index.all_lessons')
            = @lessons_count.values.sum
        %li.nav-item
          %a.nav-link{ href: paid_tutors_lessons_path, class: active_if?(action: 'paid') }
            = t('tutors.lessons.index.paid_lessons')
            = @lessons_count.fetch('paid', 0)
        %li.nav-item
          %a.nav-link{ href: pending_tutors_lessons_path, class: active_if?(action: 'pending') }
            = t('tutors.lessons.index.pending_lessons')
            = @lessons_count.fetch('pending', 0)
        %li.nav-item
          %a.nav-link{ href: completed_tutors_lessons_path, class: active_if?(action: 'completed') }
            = t('tutors.lessons.index.completed_lessons')
            = @lessons_count.fetch('completed', 0)
        %li.nav-item
          %a.nav-link{ href: canceled_tutors_lessons_path, class: active_if?(action: 'canceled') }
            = t('tutors.lessons.index.canceled_lessons')
            = @lessons_count.fetch('canceled', 0)
.tab-content.mt-10
  .tab-pane.fade.show.active{:role => "tabpanel"}
    = render 'tutors/lessons/lessons', lessons: @lessons