<%= form_for event, remote: true do |f| %>
  <%= f.hidden_field :start_at, value: Date.today %>
  <%= f.hidden_field :end_at, value: Date.today %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :date_range %>
      <%= f.text_field :date_range, required: true, class: "form-control input-sm date-range-picker" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('events.add'), class: 'btn btn-success' %>
  </div>
<% end %>