.row
  .col-sm-6.col-md-4
    .form-group
      = f.label :avatar, class: 'control-label'
      = f.file_field :avatar, multiple: false, direct_upload: true, class: 'form-control'
  .col-sm-6.col-md-4
    - if f.object.avatar.attached?
      .form-avatar.pt-10
        = image_tag user_avatar(f.object, 60), class: 'rounded'
.row
  .col-sm-4.col-md-4
    .form-group
      = f.label :first_name, class: 'control-label'
      = f.text_field :first_name, required: true, class: 'form-control'
  .col-sm-4.col-md-4
    .form-group
      = f.label :last_name, class: 'control-label'
      = f.text_field :last_name, required: true, class: 'form-control'
  .col-sm-4.col-md-4
    .form-group
      = f.label :username, class: 'control-label'
      = f.text_field :username, required: true, class: 'form-control'
  .col-sm-4.col-md-4
    .form-group
      = f.label :phone, class: 'control-label'
      = f.text_field :phone, required: true, class: 'form-control', id: 'phone', placeholder: '(999) 999-9999'
  .col-sm-6.col-md-4
    .form-group
      = f.label :birthday, class: 'control-label'
      .input-group
        = f.text_field :birthday, required: true, class: 'form-control', data: { provide: 'datepicker', date: { autoclose: 'true' } }
.row
  .col-sm-6.col-md-4
    .form-group
      = f.label :gender, class: 'control-label'

      .selectgroup.w-100
        - Profile.genders.each do |gender, key|
          %label.selectgroup-item
            = f.radio_button :gender, gender, { required: true, class: 'selectgroup-input' }
            %span.selectgroup-button= Profile.human_enum_name(:gender, gender)

  -# .col-sm-6.col-md-8
  -#   .form-group
  -#     = f.label :degree_type, class: 'control-label'

  -#     .selectgroup.w-100
  -#       - Profile.degree_types.each do |degree, key|
  -#         %label.selectgroup-item
  -#           = f.radio_button :degree_type, degree , { required: true, class: 'selectgroup-input' }
  -#           %span.selectgroup-button= Student.human_enum_name(:degree_type, degree)
.row
  .col-sm-6.col-md-4
    .form-group
      = f.label :city, class: 'control-label'
      = f.text_field :city, required: true, class: 'form-control'
  .col-md-5
    .form-group
      = f.label :country, class: 'control-label'
      = f.select :country, options_for_select(['Ukraine'], f.object.country), { prompt: t('helpers.placeholder.student.country') }, class: 'form-control', required: true
  .col-md-12
    .form-group.mb-0
      = f.label :bio, class: 'control-label'
      = f.text_area :bio, rows: 5, class: 'form-control'