.row.clearfix.pt-50.pb-50
  .col-lg-6.offset-lg-3
    = render 'steps'
  .col-lg-8.offset-lg-2
    .card
      .card-body
        .card-title.mb-3
          = t('students.details.schedule_header')
        #calendar-registration-form
        = render 'tutors/registrations/time_slots/delete_block'
      .card-footer.text-right
        = link_to t('students.details.back').html_safe, photo_students_details_path, class: 'btn btn-info'
        = link_to t('students.details.done').html_safe, tutors_dashboard_path, class: 'btn btn-info'