.row.clearfix.pt-50.pb-50
  .col-lg-12
    = render 'steps'
  .col-lg-8.offset-lg-2
    .card
      = form_with(model: @tutor_profile, url: tutors_details_path, method: :put) do |f|
        .card-body.p-10
          .card-title.mb-1
            = t('tutors.details.video_header')
          = render 'tutors/details/fields/video', f: f
        .card-footer.text-right.px-10
          = link_to t('tutors.details.back').html_safe, bio_students_details_path, class: 'mr-4 whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900'
          = f.submit t('tutors.details.next').html_safe, class: 'whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150'