<li>
  <div class="flex space-x-3">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="<%= image_path(review.reviewer.avatar) %>" alt="">
    </div>
    <div>
      <div class="text-base">
        <a href="#" class="font-semibold text-gray-900"><%= review.reviewer.first_name %></a>
        <a href="#" class="font-semibold text-gray-900"><%= review.reviewer.last_name %></a>
      </div>
      <div class="review-rating-<%= review.id %>" id="review-rating" data-score="<%= review.stars %>"></div>
      <div class="mt-1 text-base text-gray-700">
        <p><%= review.description %></p>
      </div>
      <div class="mt-2 text-base space-x-2">
        <span class="text-gray-500 font-semibold"><%= review.created_at.strftime(t('date.formats.short')) %></span>
      </div>
    </div>
  </div>
</li>

<script>
  document.addEventListener("turbo:load", function () {
    var rating = document.getElementsByClassName("review-rating-<%= review.id %>");
    rating[0].innerHTML = "";

    $(".review-rating-<%= review.id %>").raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  });
</script>