.max-w-7xl.mx-auto.px-4{ class: 'sm:px-6.md:px-8 mt-10' }
  = render 'students/tutor_profiles/tutor_info_card', tutor_profile: @tutor_profile
  .card
    .card-header
      %h3.card-title Виберіть предмет на час проведення уроку
    .card-body
      = form_with(model: @lesson, url: students_tutor_booking_path(@tutor_profile), method: :post, html: { id: 'lesson-booking-form' }) do |f|
        = f.hidden_field :start_at
        .form-group
          = f.label :subject_id, class: 'form-label'
          = f.select :subject_id, options_for_select(Subject.all.map{|a| [a.name, a.id]}), {}, class: 'form-control'
        .form-group
          = f.label :duration, class: 'form-label'
          = f.select :duration, options_for_select(lesson_durations.map{ |a| [a[:name], a[:duration]]}), {}, class: 'form-control', data: { tutor_rate: @tutor_profile.rate_cents }
        .form-group
          = f.label :price, class: 'form-label'
          .input-group
            .input-group-prepend
              %span.input-group-text
                %i.fe.fe-dollar-sign
            = f.text_field :price, readonly: true, class: 'form-control'
        .mt-5.align-center
          #booking-calendar
            = week_calendar do |date|
              - @available_hours.fetch(date.to_s, []).each do |time|
                .c-time-slot-record{ class: time[:status], data: { time: time[:full_time] } }
                  = time[:time]