<li class="px-2 py-2 relative class-room <%= active_if?(id: params[:id]) %>">
  <div class="group flex justify-between items-center">
    <div class="flex-1 flex items-center min-w-0 relative">
      <span class="flex-shrink-0 inline-block relative">
        <a href="<%= url %>">
          <img class="h-10 w-10 rounded-full" src="<%= image_path(profile.avatar) %>" alt>
        </a>
        <span class="absolute top-0 right-0 block h-3 w-3 rounded-full text-white shadow-solid bg-green-400"></span>
      </span>
      <div class="ml-4 truncate">
        <%= link_to url do %>
          <div class="text-sm leading-5 font-medium text-gray-900 truncate"><%= profile.name %></div>
          <div class="text-sm leading-5 text-gray-500 truncate">Hey, how are you today?</div>
        <% end %>
      </div>
    </div>
    <div class="relative inline-block text-left">
      <span class="flex items-center justify-center shadow bg-blue-600 h-6 w-6 text-xs rounded-full text-white">2</span>
    </div>
  </div>
</li>