.row.clearfix
  .col-lg-9
    .card
      .card-body
        %h4
          = @lesson.subject
          %small
            .badge{ class: lesson_status_background[@lesson.status] }
              = @lesson.status
          .float-right.text-muted
            = link_to t('students.lessons.show.start_lesson'), '', class: 'btn btn-success btn-rounded'
    .row
      .col-lg-12
        - if @lesson.start_at > Time.current
          - time_left = 100.0 * ( Time.current - @lesson.created_at ) / ( @lesson.start_at - @lesson.created_at )
          %p
            До початку уроку залишилося:
            %strong= distance_of_time_in_words(Time.current, @lesson.start_at)
          .progress.progress-xs.mb-4
            .progress-bar.bg-primary{ style: "width: #{time_left}%" }
      .col-lg-6
        .card
          .card-body.widgets1
            .icon
              %i.icon-calendar.text-primary.font-30
            .details
              %span Дата Бронювання
              %h6.number.mb-0
                = l @lesson.created_at, format: Lesson::FULL_FORMAT
      .col-lg-6
        .card
          .card-body.widgets1
            .icon
              %i.icon-calendar.text-primary.font-30
            .details
              %span Дата Початку
              %h6.number.mb-0
                = l @lesson.start_at, format: Lesson::FULL_FORMAT

      .col-lg-4
        .card
          .card-body.widgets1
            .icon
              %i.icon-clock.text-primary.font-30
            .details
              %span Тривалість
              %h6.number.mb-0
                = duration_in_hours[@lesson.duration.to_i]
      .col-lg-3
        .card
          .card-body.widgets1
            .icon
              %i.icon-wallet.text-primary.font-30
            .details
              %span Ціна
              %h6.number.mb-0
                = humanized_money_with_symbol @lesson.price

    .col-lg-12
      %ul#pills-tab.nav.nav-tabs.mb-3{:role => "tablist"}
        %li.nav-item
          %a#pills-calendar-tab.nav-link.active{"aria-controls" => "pills-calendar", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-calendar", :role => "tab"} Overview
        %li.nav-item
          %a#pills-timeline-tab.nav-link{"aria-controls" => "pills-timeline", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-timeline", :role => "tab"} Chat
        %li.nav-item
          %a#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-profile", :role => "tab"} Attachments
    .col-lg-12
      #pills-tabContent.tab-content
        #pills-calendar.tab-pane.fade.show.active{"aria-labelledby" => "pills-calendar-tab", :role => "tabpanel"}
          .card
            .card-header.bline
            docs
  .col-lg-3
    = render 'students/tutor_profiles/tutor_v_card', tutor_profile: @lesson.tutor_profile