.card.c-tutor-card--h
  .card-body
    .heart-favorite-container{id: "heart-favorite-container-#{tutor_profile.id}"}
      - if current_student_profile.favorite?(tutor_profile)
        = render 'students/tutors/favorites/remove_favorite', tutor_profile: tutor_profile
      - else
        = render 'students/tutors/favorites/create_favorite', tutor_profile: tutor_profile
    %article.media
      .block.mr-3
        .card-image{ style: "background-image: url(#{image_path(tutor_profile.avatar)})" }
      .media-body
        .content
          .card-heading
            .card-heading--name.h5
              = tutor_profile.name
              %small
                @#{tutor_profile.username}
              .card-heading--rating
                %i.icon-star
                = tutor_profile.stars
            .card-heading--essentials
              .card-heading--rate
                = humanized_money_with_symbol tutor_profile.rate
                %small.unit.text-muted / #{t('common.hour')}.
          %p.mb-2
            %span
              %i.icon-home
              = tutor_profile.city
          %p.mb-2
            %span= tutor_profile.subjects.pluck(:name).join(', ')
            = link_to students_tutor_calendars_path(tutor_profile) do
              %i.icon-calendar
              Календар
          %p= tutor_profile.bio
        %nav.flex.text-muted.items-center.flex-wrap.mt-2
          .card-details
            %a.icon.mr-3{:href => "#"}
              %i.icon-graduation
              #{tutor_profile.total_years_of_expirience} років
            %a.icon.mr-3{:href => "#"}
              %i.icon-users
              100 уроків
            %a.icon.mr-3{:href => "#"}
              %i.icon-bubbles
              43 відгуки
            %a.icon.mr-3{:href => "#"}
              %i.icon-globe
              43 статті
          .card-button
            %a.btn.btn-success.btn-block.btn-lg{ href: students_tutor_booking_path(tutor_profile) } Записатися на урок