.row.clearfix
  .col-lg-12
    .card
      .card-body
        #c-tutors-search-box
          = form_with(scope: :search_tutor, url: students_tutor_profiles_path, method: :get) do |f|
            .row.input-group
              .col-lg-4
                .form-group
                  = f.label :subject, t('search_form.tutors.subject')
                  = f.text_field :subject, autocomplete: :off, value: params.fetch(:search_tutor, subject: nil)[:subject], placeholder: t('search_form.tutors.subject_placeholder'), class: 'form-control'
              .col-lg-4
                .form-group
                  %label= t('search_form.tutors.availability')
                  %a.nav-link.btn.btn-default{"data-toggle" => "dropdown"}
                    Будь який час
                  .dropdown-menu.dropdown-menu-left
                    .dropdown-content
                      .form-group
                        %label.form-label.mb-3 Доступний в дні
                        .selectgroup.w-100
                          - Date::DAYNAMES.rotate(1).each do |day|
                            %label.selectgroup-item
                              - checked = params.fetch(:search_tutor, days: nil)[:days].blank? ? false : params[:search_tutor][:days].include?(day)
                              = f.check_box :days, { multiple: true, class: 'selectgroup-input', checked: checked }, day, false
                              %span.selectgroup-button= t("daynames.short.#{day}")
                      .form-group
                        %label.form-label.mb-3 Часовий період
                        - %w[0-6 6-12 12-18 18-24].each do |period|
                          - checked = params.fetch(:search_tutor, periods: nil)[:periods].blank? ? false : params[:search_tutor][:periods].include?(period)
                          .selectgroup.selectgroup-pills
                            %label.selectgroup-item
                              = f.check_box :periods, { multiple: true, class: 'selectgroup-input', checked: checked }, period, false
                              %span.selectgroup-button= period
              .col-lg-4
                .form-group
                  - min_rate, max_rate = params.fetch(:search_tutor, price_range: nil)[:price_range]&.split(',')
                  - money_min_rate = (min_rate || @tutors_query.min_rate).to_i.round(0)
                  - money_max_rate = (max_rate || @tutors_query.max_rate).to_i.round(0)
                  = f.label :price_range, t('search_form.tutors.hour_price')
                  #price-range_values
                    #{money_min_rate} - #{money_max_rate}
                  .mt-3
                    = f.hidden_field :price_range, id: 'price-range', value: [money_min_rate, money_max_rate].join(','), step: "1", min: @tutors_query.min_rate.to_i.round(0), max: @tutors_query.max_rate.to_i.round(0)
            = f.submit t('search_form.tutors.search'), class: 'btn btn-success btn-rounded'
#cards
  .dimmer
    .loader
  #tutors-collection
    - if @tutors.any?
      = render @tutors, cached: true
    - else
      = render 'no_found'