.row.clearfix.pt-50.pb-50
  .col-lg-8.offset-lg-2
    = render 'steps'
  .col-lg-8.offset-lg-2
    .card
      = form_with(model: @student_profile, url: students_details_path(@student_profile), method: :post) do |f|
        .card-body
          .card-title
            = t('students.details.main_header')
          = render 'students/details/fields/general',f: f
        .card-footer.text-right
          = f.submit t('students.details.next').html_safe, class: 'whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150'