.row.clearfix
  .col-lg-12
    .card
      .card-body
        .d-md-flex
          %ul.nav.nav-tabs.b-none
            %li.nav-item
              %a#list-tab.nav-link.active{"data-toggle" => "tab", :href => "#list"}
                %i.icon-list
                = t('common.list')
        .input-group.mt-2
          %input.form-control.search{:placeholder => "Search...", :type => "text"}/

.tab-content
  #list.tab-pane.fade.show.active{:role => "tabpanel"}
    #users.table-responsive

      %table.table.table-hover.table-vcenter.text-nowrap.table_custom.list
        %tbody
          - @tutors.each do |tutor|
            %tr
              %td.width35.hidden-xs
                %a.mail-star{:href => "javascript:void(0);"}
                  %i.icon-star
              %td.text-center.width40
                .avatar.d-block
                  %img.avatar{ :src => image_path(current_student_profile.avatar) }/
              %td
                %div
                  %a{:href => "javascript:void(0);"}= tutor.name
              %td
                - tutor.subjects.each do |s|
                  = link_to s.name, students_tutor_profiles_path(search_tutor: { subject: s.name })
              %td.hidden-xs
                .text-muted
                  %i.icon-graduation
                  = tutor.total_years_of_expirience.to_i
                  = t('common.years')
              %td.hidden-sm
                .text-muted #{tutor.city}, #{tutor.country}
              %td.text-right
                %a.btn.btn-sm.btn-link{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Sent Message"}
                  %i.icon-envelope
                %a.btn.btn-sm.btn-link.hidden-xs.js-sweetalert{"data-toggle" => "tooltip", "data-type" => "confirm", :href => "javascript:void(0)", :title => "Delete"}
                  %i.icon-trash