%header.header
  .header__inner
    .header__logo
      = link_to root_path do
        = image_tag 'logo_png.png', class: 'header__logo--image'
    .header__menu
    .header__box
    .header__toolbar.hidden-md
      .header__toolbar--items
        = link_to 'Головна', root_path, class: 'header__toolbar--item text-black'
        = link_to 'Як це працює?', '', class: 'header__toolbar--item text-black'
        = link_to 'Контакти', '', class: 'header__toolbar--item'
        = link_to 'Блог', blogs_path, class: 'header__toolbar--item'
      .header__account
        = link_to 'Увійти', new_user_session_path, class: 'header__account--button sign-in btn'
        = link_to 'Зареєструватися', registration_users_path(as: :student), class: 'header__account--button sign-up btn'

%section.home__banner
  .home__banner--inner
    .home__banner--text-box
      %h1.home__banner--title Пошук репетиторів - онлайн
      .home__banner--links
        %a.btn.search-a-tutor{ href: search_tutors_path } Знайти репетитора
        %a.btn.become-a-tutor{ href: registration_users_path(as: :tutor) } Стати Репетитором

%section.why-we__banner
  .why-we__banner--inner
    .why-we__banner--title
      %span.section-title Чому ми?
    .why-we__banner--details
      .why-we__banner--description
        %p
          %strong Study GO
          %span - онлайн платформа для пошуку
          %span.brand-highlight репетиторів
      .why-we__banner--boxes
        .why-we__banner--box
          .why-we__banner--box-icon
            %i.icon-globe.font-50
          .why-we__banner--box-details
            .why-we__banner--box-title
              Навчайся онлайн
            .why-we__banner--box-description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .why-we__banner--box
          .why-we__banner--box-icon
            %i.icon-calendar.font-50
          .why-we__banner--box-details
            .why-we__banner--box-title
              Узгоджуй графік
            .why-we__banner--box-description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .why-we__banner--boxes
        .why-we__banner--box
          .why-we__banner--box-icon
            %i.icon-user-following.font-50
          .why-we__banner--box-details
            .why-we__banner--box-title
              Знайди потрібного репетитора
            .why-we__banner--box-description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .why-we__banner--box
          .why-we__banner--box-icon
            %i.icon-pointer.font-50
          .why-we__banner--box-details
            .why-we__banner--box-title
              Навчайся будь-де
            .why-we__banner--box-description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
%section.how-it-works__banner
  .how-it-works__banner--inner
    .how-it-works__banner--title
      %span.section-title Як це працює?
    .how-it-works__banner--details
      .how-it-works__banner--box
        .how-it-works__banner--box-icon
          %i.icon-login.font-50
        .how-it-works__banner--box-description
          Крок 1. Зареєструйся
      .how-it-works__banner--box
        .how-it-works__banner--box-icon
          %i.icon-users.font-50
        .how-it-works__banner--box-description
          Крок 2. Знайди Репетитора
      .how-it-works__banner--box
        .how-it-works__banner--box-icon
          %i.icon-clock.font-50
        .how-it-works__banner--box-description
          Крок 3. Забронюй урок

%footer.footer-area.section_gap
  .container