<div class="m-8">
  <%= render 'breadcrumbs', add_vacation: true, manage_vacations: false %>

  <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl sm:truncate mb-4"><%= t('tutors.vacations.create_vacation') %></h2>
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <%= form_with model: @vacation, url: tutors_vacations_path(@vacation), method: :post do |f| %>
      <div class="form-group">
        <%= f.label :description, t('tutors.vacations.description'), class: 'block text-sm font-medium leading-5 text-gray-700' %>
        <%= f.text_area :description, class: "form-control", required: true, placeholder: t('tutors.vacations.short_description') %>
      </div>
      <div class="form-group">
        <%= f.label :start_at, t('tutors.vacations.start_at'), class: 'block text-sm font-medium leading-5 text-gray-700' %>
        <%= f.text_field :start_at, placeholder: t('tutors.vacations.select_time'), class: 'form-control', data: {
        controller: "flatpickr",
        flatpickr_alt_format: t("date.formats.long"),
        flatpickr_alt_input: true,
        flatpickr_min_date: Time.zone.now }, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :end_at, t('tutors.vacations.end_at'), class: 'block text-sm font-medium leading-5 text-gray-700' %>
        <%= f.text_field :end_at, placeholder: t('tutors.vacations.select_time'), class: 'form-control', data: {
        controller: "flatpickr",
        flatpickr_alt_format: t("date.formats.long"),
        flatpickr_alt_input: true,
        flatpickr_min_date: Time.zone.now }, required: true %>
      </div>
      <div class="form-group">
        <%= f.submit t('tutors.vacations.create'), data: { disable_with: "Saving..." }, class: 'w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out' %>
      </div>
    <% end %>
  </div>
</div>
