.row
  .col-lg-3.order-md-12
    = render 'students/tutor_profiles/tutor_v_card', tutor_profile: @lesson.tutor_profile
  .col-lg-5.order-md-1.offset-lg-2
    .card
      .card-header
        %h3.card-title Виберіть спосіб оплати
        .card-options
          %a.card-options-collapse{"data-toggle" => "card-collapse", :href => "#"}
            %i.fe.fe-chevron-up
          %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
            %i.fe.fe-maximize
          %a.card-options-remove{"data-toggle" => "card-remove", :href => "#"}
            %i.fe.fe-x
          .item-action.dropdown.ml-2
            %a{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
              %i.fe.fe-more-vertical
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-eye
                View Details
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-share-alt
                Share
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-cloud-download
                Download
              .dropdown-divider
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-copy
                Copy to
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-folder
                Move to
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-edit
                Rename
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fa.fa-trash
                Delete
      .card-body
        .row
          .col-md-12

        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th Предмет
                %th Тривалість
                %th Ціна
            %tbody
              %tr
                %td= @lesson.subject
                %td= @lesson.duration
                %td $#{@lesson.price}
            %tfoot
              %tr
                %td
                %td
                %td
                  %strong $#{@lesson.price}
        .row
          .col-md-12.align-right
            %button.btn.btn-warning
              %i.icon-printer
            = link_to 'Оплатити зараз', students_lessons_checkout_path(@lesson), method: :post, class: 'btn btn-success'