#page_top.section-body
  .container-fluid
    .page-header
      .left
        %h1.page-title= t("layouts.#{layout}.#{controller_name}.page_title")
        .input-group.xs-hide
          %input.form-control{:placeholder => "Search...", :type => "text"}/
      .right
        %ul.nav.nav-pills
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Language
            .dropdown-menu
              %a.dropdown-item{:href => "#"}
                = image_tag 'flags/us.svg', class: 'w20 mr-2', alt: ''
                English
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                = image_tag 'flags/ua.svg', class: 'w20 mr-2', alt: ''
                Ukraine
              %a.dropdown-item{:href => "#"}
                = image_tag 'flags/ru.svg', class: 'w20 mr-2', alt: ''
                Russian
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Project
            .dropdown-menu
              %a.dropdown-item{:href => "#"} Graphics Design
              %a.dropdown-item{:href => "#"} Angular Admin
              %a.dropdown-item{:href => "#"} PSD to HTML
              %a.dropdown-item{:href => "#"} iOs App Development
              .dropdown-divider
              %a.dropdown-item{:href => "#"} Home Development
              %a.dropdown-item{:href => "#"} New Blog post
        .notification.d-flex
          .dropdown.d-flex
            %a.nav-link.icon.d-none.d-md-flex.btn.btn-default.btn-icon.ml-1{"data-toggle" => "dropdown"}
              %i.fa.fa-envelope
              %span.badge.badge-success.nav-unread
            .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
              %ul.right_chat.list-unstyled.w250.p-0
                %li.online
                  %a{:href => "javascript:void(0);"}
                    .media
                      .media-body
                        %span.name Donald Gardner
                        %span.message Designer, Blogger
                        %span.badge.badge-outline.status
                %li.online
                  %a{:href => "javascript:void(0);"}
                    .media
                      .media-body
                        %span.name Wendy Keen
                        %span.message Java Developer
                        %span.badge.badge-outline.status
                %li.offline
                  %a{:href => "javascript:void(0);"}
                    .media
                      .media-body
                        %span.name Matt Rosales
                        %span.message CEO, anchortheme
                        %span.badge.badge-outline.status
                %li.online
                  %a{:href => "javascript:void(0);"}
                    .media
                      .media-body
                        %span.name Phillip Smith
                        %span.message Writter, Mag Editor
                        %span.badge.badge-outline.status
              .dropdown-divider
              %a.dropdown-item.text-center.text-muted-dark.readall{:href => "javascript:void(0)"} Mark all as read
          .dropdown.d-flex
            %a.nav-link.icon.d-none.d-md-flex.btn.btn-default.btn-icon.ml-1{"data-toggle" => "dropdown"}
              %i.fa.fa-bell
              %span.badge.badge-primary.nav-unread
            .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
              %ul.list-unstyled.feeds_widget
                %li
                  .feeds-left
                    %i.fa.fa-check
                  .feeds-body
                    %h4.title.text-danger
                      Issue Fixed
                      %small.float-right.text-muted 11:05
                    %small WE have fix all Design bug with Responsive
                %li
                  .feeds-left
                    %i.fa.fa-user
                  .feeds-body
                    %h4.title
                      New User
                      %small.float-right.text-muted 10:45
                    %small I feel great! Thanks team
                %li
                  .feeds-left
                    %i.fa.fa-thumbs-o-up
                  .feeds-body
                    %h4.title
                      7 New Feedback
                      %small.float-right.text-muted Today
                    %small It will give a smart finishing to your site
                %li
                  .feeds-left
                    %i.fa.fa-question-circle
                  .feeds-body
                    %h4.title.text-warning
                      Server Warning
                      %small.float-right.text-muted 10:50
                    %small Your connection is not private
                %li
                  .feeds-left
                    %i.fa.fa-shopping-cart
                  .feeds-body
                    %h4.title
                      7 New Orders
                      %small.float-right.text-muted 11:35
                    %small You received a new oder from Tina.
              .dropdown-divider
              %a.dropdown-item.text-center.text-muted-dark.readall{:href => "javascript:void(0)"} Mark all as read
          .dropdown.d-flex
            %a.nav-link.icon.d-none.d-md-flex.btn.btn-default.btn-icon.ml-1{"data-toggle" => "dropdown"}
              %i.fa.fa-user
            .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
              %a.dropdown-item{:href => "page-profile.html"}
                %i.dropdown-icon.fe.fe-user
                Profile
              %a.dropdown-item{:href => "app-setting.html"}
                %i.dropdown-icon.fe.fe-settings
                Settings
              %a.dropdown-item{:href => "app-email.html"}
                %span.float-right
                  %span.badge.badge-primary 6
                %i.dropdown-icon.fe.fe-mail
                Inbox
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fe.fe-send
                Message
              .dropdown-divider
              %a.dropdown-item{:href => "javascript:void(0)"}
                %i.dropdown-icon.fe.fe-help-circle
                Need help?
              %a.dropdown-item{:href => "login.html"}
                %i.dropdown-icon.fe.fe-log-out
                Sign out