= csrf_meta_tags
= csp_meta_tag
= display_meta_tags site: 'Studygo'
%meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
%meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
= render 'layouts/partials/head_tag_manager'