#left-sidebar.sidebar
  %h5.brand-name
    StudyGo
    %a.menu_option.float-right{:href => "javascript:void(0)"}
      %i.icon-grid.font-16{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Grid & List Toggle"}
  %nav#left-sidebar-nav.sidebar-nav
    %ul.metismenu
      %li.g_heading
      %li.active
        = link_to students_dashboard_path do
          %i.icon-home
          %span= t('students.left_sidebar.dashboard')
      %li
        = link_to students_dashboard_path do
          %i.icon-home
          %span= t('students.left_sidebar.search_teachers')
      %li
        %a{:href => "app-calendar.html"}
          %i.icon-calendar
          %span= t('students.left_sidebar.calendar')
      %li
        %a{:href => "app-chat.html"}
          %i.icon-speech
          %span= t('students.left_sidebar.chat')
      %li
        = link_to students_dashboard_path do
          %i.icon-home
          %span= t('students.left_sidebar.my_teachers')
      %li
        %a{:href => "app-blog.html"}
          %i.icon-globe
          %span= t('students.left_sidebar.blog')
      %li
        %a{:href => "app-contact.html"}
          %i.icon-notebook
          %span Contact
      %li
        %a.settingbar{:href => "javascript:void(0)"}
          %i.icon-settings{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Settings"}
          %span= t('students.left_sidebar.settings')
        -# %a{:href => "app-contact.html"}
        -#   %i.icon-notebook
