#left-sidebar.sidebar
  = image_tag 'logo_png.png', class: 'main-logo'
  %a.menu_option.float-right{:href => "javascript:void(0)"}
    %i.icon-grid.font-16{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Grid & List Toggle"}
  %nav#left-sidebar-nav.sidebar-nav
    %ul.metismenu
      %li.g_heading
      %li{ class: active_if?(controller: 'dashboards') }
        = link_to tutors_dashboard_path do
          %i.icon-home
          %span= t('tutors.left_sidebar.dashboard')
      %li{ class: active_if?(controller: 'lessons') }
        = link_to tutors_lessons_path do
          %i.icon-notebook
          %span= t('tutors.left_sidebar.lessons')
      %li{ class: active_if?(controller: 'calendars') }
        = link_to tutors_calendars_path do
          %i.icon-calendar
          %span= t('tutors.left_sidebar.calendar')
      %li{ class: active_if?(controller: 'chats') }
        = link_to tutors_chats_path do
          %i.icon-speech
          %span= t('tutors.left_sidebar.chat')
      %li{ class: active_if?(controller: 'student_profiles') }
        %a{ href: tutors_student_profiles_path }
          %i.icon-users
          %span= t('tutors.left_sidebar.students')
      %li{ class: active_if?(controller: 'settings') }
        = link_to schedule_tutors_settings_path do
          %i.icon-settings
          %span= t('tutors.left_sidebar.settings')