!!!
%html
  %head
    %title Studygo
    = render 'layouts/partials/head'
  %body
    = render 'layouts/partials/body_tag_manager'
    #main_content
      = render 'layouts/partials/header', title: ''
      = render 'layouts/partials/alert'
      .section-body
        .container-fluid
          .row.clearfix
            .col-lg-12.col-md-12.col-sm-12
              = yield