!!!
%html
  %head
    = render 'layouts/partials/head'
    = display_meta_tags noindex: true, nofollow: true
  %body.font-montserrat
    = render 'layouts/partials/body_tag_manager'
    #main_content
      = render 'layouts/partials/header', title: ''
      = render 'layouts/partials/alert'
      .section-body
        .container-fluid
          .row.clearfix
            .col-lg-12.col-md-12.col-sm-12
              = yield