!!!
%html
  %head
    = render 'layouts/partials/head'
  %body.font-montserrat
    = render 'layouts/partials/body_tag_manager'
    #main_content
      = render 'layouts/partials/header', title: 'Блог'
      = render 'layouts/partials/alert'
      .section-body
        .container-fluid
          .row.clearfix.mt-header
            .col-lg-12.col-md-12.col-sm-12
              = yield