!!!
%html
  %head
    = render 'layouts/partials/head'
  %body.font-montserrat
    = render 'layouts/partials/body_tag_manager'
    = render 'layouts/partials/header', title: 'Блог'
    #main_content
      = render 'layouts/partials/alert'
      .section-body.mt-header
        = yield
        = render 'layouts/partials/newsletter'
        = render 'layouts/partials/footer'