!!!
%html
  %head
    = render 'layouts/partials/head'
    = display_meta_tags noindex: true, nofollow: true
  %body.font-montserrat
    = render 'layouts/partials/body_tag_manager'
    .auth
      .auth_left
        .card
          .text-center.mb-5
            = link_to root_path, class: 'header-brand' do
              = image_tag 'logo_png.png', class: 'logo-md'
          = yield
      .auth_right
        .carousel.slide{"data-interval" => "3000", "data-ride" => "carousel"}
          .carousel-inner
            .carousel-item.active
              = image_tag 'feeling_proud.svg', class: 'img-fluid', alt: 'login page'
              .px-4.mt-4
                %h4 Fully Responsive
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .carousel-item
              = image_tag 'sync_files.svg', class: 'img-fluid', alt: 'login page'
              .px-4.mt-4
                %h4 Quality Code and Easy Customizability
                %p There are many variations of passages of Lorem Ipsum available.
            .carousel-item
              = image_tag 'world_is_mine.svg', class: 'img-fluid', alt: 'login page'
              .px-4.mt-4
                %h4 Cross Browser Compatibility
                %p Overview We're a group of women who want to learn JavaScript.
