<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
    <%= action_cable_meta_tag %>
    <%= display_meta_tags noindex: true, nofollow: true %>
  </head>

  <body class="font-montserrat bg-gray-200">
    <%= render 'layouts/partials/body_tag_manager' %>
    <div class="bg-gray-100">
      <div class="h-screen flex overflow-hidden bg-gray-100" x-data="{ sidebarOpen: false }" @keydown.window.escape="sidebarOpen = false">
        <!-- Off-canvas menu for mobile -->
        <%= render 'layouts/partials/students/left_sidebar' %>

        <!-- Static sidebar for desktop -->
        <%= render 'layouts/partials/students/desktop_left_sidebar' %>

        <div class="flex flex-col w-0 flex-1 overflow-hidden">
          <%= render 'layouts/partials/students/header_top' %>
          <%= render 'layouts/partials/alert' %>

          <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0" x-data="" x-init="$el.focus()">
            <%= turbo_frame_tag "modal" %>
            <%= yield %>
          </main>
          <%= render 'layouts/partials/cab_footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
