!!!
%html
  %head
    %title Studygo Student
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.font-opensans
    = render 'layouts/partials/loader'
    #main_content
      -# = render 'layouts/partials/small_sidebar', brand_url: students_root_path
      = render 'layouts/partials/right_sidebar'
      = render 'layouts/partials/left_sidebar'

      .page
        = render 'layouts/partials/students/header_top'
        .section-body.taskboard.mt-4
          .container-fluid
            = yield
        = render 'layouts/partials/footer'
